<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocketServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SocketServer.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>.\mssql</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>SocketDB</value>
            </setting>
            <setting name="userid" serializeAs="String">
                <value>socket</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>socket123456</value>
            </setting>
        </SocketServer.Properties.Settings>
    </userSettings>
</configuration>